.notice{
    box-sizing: border-box;
    position: fixed;
    width: 80%;
    bottom: 2%;
    /* left: 10vw; */
    /* margin: auto; */
    padding: 10px;
    background-color: rgb(215, 162, 162);
    border-radius: 10px;
    display: none;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* display: none; */bottom: 2%;
    left: 50%;
    transform: translate(-50%,0%);
}

.notice > .msgContent{
    border: none !important;
    text-align: left;
    /* padding-top: 1em; */
    padding: 1em 0;
}

.notice .msgContent .msgText{
    /* color: white; */
    padding: 1em;
    font-weight: bold;
    /* text-align: left !important; */
}

.ok-btn{
    background-color: red !important;
    /* color: var(--btnBackground); */
    /* font-weight: bold; */
    /* width: 50%; */
}

.notice .msgContent a{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.notice .msgContent a:hover {
    color: purple;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .notice{
        /* width: 96%; */
        /* left: 2%; */
        bottom: 1.5%;
    }
}